* {
  color: white;
}
nav {
  text-align: left;
  padding: 10px 20px;
  font-weight: bold;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  .title {
    width: 60%;
    span {
      font-size: 4rem;
    }
  }

  .img {
    width: 60%;
  }
}
